# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Runtime logs
logs/*.csv
logs/*.log

# IDE settings
.vscode/
.idea/

# Operating System
Thumbs.db
.DS_Store